
<table class="table table-striped table-bordered table-hover">
  <caption>Featured competitions</caption>
  <thead>
    <tr>
      <th></th>
      <th>Componame</th>
      <th>Venue</th>
      <th>Prizes</th>
      <th>Players</th>
      <th>Start time/date</th>
      <th>Signup ends</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="competition in competitions">
      <td>{{ competition.game }}</td>
      <td>{{ competition.name }}</td>
      <td>{{ competition.venue }}</td>
      <td>{{ competition.prizePool }}</td>
      <td>{{ competition.players }} / {{ competition.slots }}</td>
      <td>{{ competition.startTime | date:'dd.mm.yyyy HH:mm:ss' }}</td>
      <td>{{ competition.endSignupTime | date:'dd.mm.yyyy HH:mm:ss'}}</td>
    </tr>
  </tbody>
</table>