ul.nav
    li(ng-class="getclass('Start')")
        a(ng-href="/start")
            i.icon-white.icon-home
    li.dropdown(ng-class="getClass('/user')")
        a.dropdown-toggle(data-toggle="dropdown",ng-href='/user', data-target="#")
            span Remy
            b.caret
        ul.dropdown-menu
            li
                a(ng-href='/user/dashboard')
                    i.icon-white.icon-desktop
                    span  Dashboard
            li.divider
            li
                a(ng-href='/user/profile')
                    i.icon-white.icon-user
                    span  Profile
            li
                a(ng-href='/user/games')
                    i.icon-white.icon-comments-alt
                    span  Messages
            li
                a(ng-href='/user/calendar')
                    i.icon-white.icon-calendar
                    span  Calendar
            li.divider
            li
                a(ng-href='/user/games')
                    i.icon-white.icon-wrench
                    span  Preferences
            li
                a(ng-href='/user/games')
                    i.icon-white.icon-key
                    span  Games
            li.divider
            li
                a(ng-href='/user/games')
                    i.icon-white.icon-signout
                    span  Logout

    li.dropdown(ng-class="getClass('/play')")
        a.dropdown-toggle(data-toggle="dropdown",ng-href='/play', data-target="#")
            span Play &nbsp;
                span.badge 1
            b.caret
        ul.dropdown-menu
            li
               a test
    li.dropdown(ng-class="getClass('/create')")
        a.dropdown-toggle(data-toggle="dropdown",ng-href='/create', data-target="#")
            span Create
            b.caret
        ul.dropdown-menu
            li
                a New tournament

form.navbar-search.pull-right
    input.search-query(type="text", placeholder="Search")

ul.nav.pull-right
    li.divider-vertical
    li.dropdown(ng-class="getClass('/help')")
        a.dropdown-toggle(data-toggle="dropdown",ng-href='/help', data-target="#")
            span Help
            b.caret
        ul.dropdown-menu
            li
                a New tournament
    li.divider-vertical