div.row(ng-controller="NewsAdminCtrl")
    form.span8
        div.row
            div.span8
                div.pull-left
                    div.control-group.input-prepend
                        span.add-on Author
                        input.input-xlarge(type="text",ng-model="editNews.author")
                    div.control-group.input-prepend
                        span.add-on Title
                        input.input-xlarge(type="text",ng-model="editNews.title")
                    div.inline-inputs
                        span.add-on Publish on
                        input(type="date",ng-model="editNews.publishDate", value="{{ editNews.publishDate | date:'YYY-MM-DD'}})
                        |  :
                        input.input-small(type="text",ng-model="editNews.publishTime", placeholder="Time XX:XX")
                div.pull-right
                    div.control-group
                        div(style="width: 200px")
                            button.disabled.btn.btn-block(type="button", disabled="true", ng-class="{draft: 'btn-warning', published: 'btn-success', deleted: 'btn-danger'}[editNews.status]") Status: {{ editNews.status }}

                div
                    div.control-group
                        div.controls
                            textarea(style="width:100%", rows="15",ng-model="editNews.body", placeholder="Body text")
                    div.control-group
                        span.btn-group(data-toggle="buttons-radio")
                            button.btn.btn-warning(type="button", ng-click="editNews.status = 'draft'", ng-class="{'active': editNews.status == 'draft'}") Draft
                            button.btn.btn-success(type="button", ng-click="editNews.status = 'published'", ng-class="{'active': editNews.status == 'published'}") Published
                            button.btn.btn-danger(type="button", ng-click="editNews.status = 'deleted'", ng-class="{'active': editNews.status == 'deleted'}") Deleted
                        button.btn.btn-primary.pull-right(type="submit", ng-class="{'add': 'btn-success', 'edit': 'btn-warning'}[submitText.toLowerCase()]", ng-click="{'add': save(), 'edit': update()}[submitText.toLowerCase()]") {{ submitText }} newspost

    table.span4.table.table-striped.table-hover.table-bordered(ng-init="getNews()")
        thead
          tr
            th Posted titles
            th Author
        tr(ng-repeat="item in newsList", ng-class="{'draft': 'warning', 'published': 'success', 'deleted': 'error'}[item.status]", ng-click="select($index)")
            td {{ item.title }}
            td {{ item.author }}

    div.span8
        div.row
            div.hero-unit.span7
                a.thumbnail
                  img(src="http://placehold.it/700x200")
                h1 {{ editNews.title }}
                div(ng-bind-html-unsafe="editNews.body")
                p
                   a.btn.btn-primary(ng-href="#/news/{{ item.id }}/{{ item.title }}") Learn more &raquo;