table.table.table-striped.table-bordered.table-hover
    caption Featured competitions
    thead
        tr
            th
            th Componame
            th Venue
            th Prizes
            th Players
            th Start time/date
            th Signup ends
    tbody
        tr(ng-repeat="competition in competitions")
            td {{ competition.game }}
            td {{ competition.name }}
            td {{ competition.venue }}
            td {{ competition.prizePool }}
            td {{ competition.players }} / {{ competition.slots }}
            td {{ competition.startTime | date:'dd.mm.yyyy HH:mm:ss' }}
            td {{ competition.endSignupTime | date:'dd.mm.yyyy HH:mm:ss'}}