
<div ng-controller="RegisterWizardCtrl">
  <div class="modal-header">
    <button data-dismiss="modal" aria-hidden="true" ng-init="registerStep(2)" class="close">×</button>
    <div class="wizard"><a><span class="badge badge-inverse">1</span><span>Accept policy</span></a><a class="current"><span class="badge badge-inverse">2</span><span>Country</span></a><a><span class="badge badge-inverse">3</span><span>Profile information</span></a><a><span class="badge badge-inverse">4</span><span>Payement option</span></a><a><span class="badge badge-inverse">5</span><span>Overview</span></a></div>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="control-group">
        <label for="country" class="control-label">Choose your country</label>
        <div class="controls">
          <input type="radio" name="country" value="no"/>
          <input type="radio" name="country" value="se"/>
          <input type="radio" name="country" value="int"/>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button data-dismiss="modal" aria-hidden="true" class="btn">Cancel registration</button>
    <button ng-click="nextstep()" class="btn btn-primary">Next step</button>
  </div>
</div>