
<form ng-controller="AuthenticationCtrl" class="form-horizontal">
  <fieldset>
    <legend class="text-error">Authentication required</legend>
    <div class="row">
      <div class="span8">
        <p class="text-warning">We need to confirm you have access to this part of the site, please sign in.</p>
        <div class="control-group">
          <label class="control-label">Email</label>
          <div class="controls">
            <input type="email" placeholder="Email" ng-model="user.email"/>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Password</label>
          <div class="controls">
            <input type="password" placeholder="Password" ng-model="user.password"/>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <label class="checkbox">
              <input type="checkbox"/>Remember me
            </label>
            <button type="submit" ng-click="submit()" class="btn btn-primary">Sign in</button>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" ng-click="$location.path('/user/register')" class="btn btn-small btn-success">Register a new account</button>
            <button type="submit" class="btn btn-small btn-inverse">Recover lost password</button>
          </div>
        </div>
      </div>
      <div class="span4"></div>
    </div>
  </fieldset>
</form>