
<div ng-controller="RegisterWizardCtrl">
  <div class="wizard"><a ng-class="validateForm(1)" ng-click="step = 1"><span class="badge badge-inverse">1</span><span> Select Country</span></a><a ng-class="validateForm(2)" ng-click="step = 2"><span class="badge badge-inverse">2</span><span> Accept the usage policy</span></a><a ng-class="validateForm(3)" ng-click="step = 3"><span class="badge badge-inverse">3</span><span> Enter your profile information</span></a><a ng-class="validateForm(4)" ng-click="step = 4; pattern = patterns(User.Profile.payment)"><span class="badge badge-inverse">4</span><span> Payment option</span></a><a ng-class="{current: step == 5}" ng-click="step = 5"><span class="badge badge-inverse">5</span><span> Review your profile</span></a><a ng-class="{current: step == 6}" ng-click="step = 6"><span class="badge badge-inverse">6</span><span> Welcome!</span></a>
    <div ng-switch="step">
      <!-- Step 1 default-->
      <form ng-switch-default="ng-switch-default" name="form" ng-init="$parent.form = form" class="form-horizontal">
        <div class="control-group">
          <label for="country" class="control-label">Choose your country</label>
          <div class="controls inline">
            <label class="radio">
              <input type="radio" ng-model="$parent.User.Profile.country" value="no" required="true"/>Norway
            </label>
            <label class="radio">
              <input type="radio" name="country" ng-model="$parent.User.Profile.country" value="se"/>Sweden
            </label>
            <label class="radio">
              <input type="radio" name="country" ng-model="$parent.User.Profile.country" value="other" checked="true"/>I am not a resident of Sweden or Norway
            </label>
          </div>
        </div>
      </form>
      <!-- Step 2-->
      <form ng-switch-when="2" name="form" ng-init="$parent.form = form" class="form-horizontal">
        <div class="control-group">
          <label for="policy" class="control-label">Terms and Conditions</label>
          <div class="controls">
            <textarea id="policy" rows="15" style="height: 300px;width: 600px" class="uneditable-input"></textarea>
          </div>
        </div>
        <div class="control-group">
          <label for="acceptedPolicy" class="control-label">Accept the Terms and Conditions</label>
          <div class="controls">
            <label class="checkbox">
              <input type="checkbox" id="acceptedPolicy" name="acceptedPolicy" ng-model="$parent.User.acceptedPolicy" required="true"/><span class="inline-help">I have read and I accept the Terms and conditions</span>
            </label>
          </div>
        </div>
      </form>
      <!-- Step 3-->
      <form ng-switch-when="3" novalidate="novalidate" name="form" ng-init="$parent.form = form" class="form-horizontal">
        <fieldset>
          <legend>Website information
            <div class="control-group">
              <label for="displayName" class="control-label">Display name</label>
              <div class="controls">
                <input name="displayName" type="text" ng-model="$parent.User.Profile.displayName"/><span><small class="help-inline">This will be your name throughout the site.</small></span>
              </div>
              <label for="email" class="control-label">Email address</label>
              <div class="controls">
                <input name="email" type="email" ng-model="$parent.User.email"/><span><small class="help-inline">Your email is our primary way of contacting you!</small></span>
              </div>
              <label for="emailVerify" class="control-label">Verify email address</label>
              <div class="controls">
                <input name="emailVerify" type="email" ng-model="$parent.User.emailVerify"/><span><small class="help-inline">Type your email again!</small></span>
              </div>
            </div>
          </legend>
          <legend>Personal Information
            <div class="control-group">
              <label for="firstName" class="control-label">First name</label>
              <div class="controls">
                <input name="firstName" type="text" ng-model="$parent.User.Profile.firstName"/><span><small class="help-inline">Your first name.</small></span>
              </div>
              <label for="lastName" class="control-label">Last name</label>
              <div class="controls">
                <input name="lastName" type="text" ng-model="$parent.User.Profile.lastName"/><span><small class="help-inline">Your last name.</small></span>
              </div>
              <label for="ssnumber" ng-show="$parent.User.Profile.country == 'se'" class="control-label">Social security number</label>
              <div ng-show="$parent.User.Profile.country == 'se'" class="controls">
                <input name="ssnumber" ng-model="$parent.User.Profile.ssnumber" type="text" required="{true: $parent.User.Profile.country == 'se'}" ng-pattern="/^([0-9]+){4}([0-9]+){2}([0-9]+){2}([0-9]+){4}$/"/><span><small class="help-inline">Enter your social security number format YYYYMMDDXXXX.</small></span>
              </div>
              <label for="birthday" class="control-label">Date of birth</label>
              <div class="controls">
                <input name="birthday" type="date" ng-model="$parent.User.Profile.dateOfBirth"/><span><small class="help-inline">Your birthday date.</small></span>
              </div>
              <label for="address" class="control-label">Address</label>
              <div class="controls">
                <input name="address" type="text" ng-model="$parent.User.Profile.address"/><span><small class="help-inline">Your residential address!</small></span>
              </div>
              <label for="address" class="control-label">Additional address line</label>
              <div class="controls">
                <input name="addressTwo" type="text" ng-model="$parent.User.Profile.alternativeAddress"/><span><small class="help-inline">If needed, a second address line!</small></span>
              </div>
              <label for="postcode" class="control-label">Postcode</label>
              <div class="controls">
                <input name="postcode" type="text" ng-model="$parent.User.Profile.postcode"/>
              </div>
              <label for="postplace" class="control-label">Postplace</label>
              <div class="controls">
                <input name="postplace" type="text" ng-model="$parent.User.Profile.postplace"/>
              </div>
            </div>
          </legend>
        </fieldset>
      </form>
      <!-- Step 4-->
      <form ng-switch-when="4" name="form" ng-init="$parent.form = form" class="form-horizontal">
        <div class="control-group">
          <label for="payment" class="control-label">Choose a payment option</label>
          <div class="controls inline">
            <label ng-switch="$parent.User.Profile.payment" ng-show="User.Profile.country == 'no'" class="radio">
              <input type="radio" ng-model="$parent.User.Profile.payment" value="sms" required="true" ng-change="patterns()"/><i class="icon-phone"></i>SMS-Payment
              <input type="text" ng-switch-when="sms" ng-model="$parent.User.Profile.mobile" ng-pattern="smspattern()" placeholder="phonenumber"/>
            </label>
            <label ng-show="User.Profile.country == 'no'" class="radio">
              <input type="radio" ng-model="$parent.User.Profile.payment" value="bank" ng-change="patterns()" checked="checked"/><i class="icon-money"></i>Bank transfer
            </label>
            <p ng-show="User.Profile.country != 'no'">We have currently not opted for any membership fee or packages outside of Norway.</p>
          </div>
        </div>
        <div ng-show="$parent.User.Profile.payment == 'bank' &amp;&amp; $parent.User.Profile.country == 'no'" class="control-group">
          <label class="control-label">Bank payment information</label>
          <div class="controls">
            <div>2095 27 123123</div>
            <div>Lillehammer elektroniske sportsklubb</div>
            <div>Riseenga 10</div>
            <div>2608 Lillehammer</div>
          </div>
        </div>
      </form>
      <!-- Step 5-->
      <form ng-switch-when="5" name="form" ng-init="$parent.form = form" class="form-horizontal">
        <div ng-class="{error: User.email == ''}" class="control-group">
          <label for="payment" class="control-label">Email</label>
          <div class="controls"><span class="input uneditable-input">{{ $parent.User.email }}</span><span ng-show="User.email == ''" class="help-inline">We require a valid email address</span></div>
        </div>
        <div class="control-group">
          <label for="payment" class="control-label">Nationality</label>
          <div class="controls"><span class="input uneditable-input">{{ getNationality() }}</span></div>
        </div>
        <div ng-class="{error: User.Profile.displayName == ''}" class="control-group">
          <label for="payment" class="control-label">Display name</label>
          <div class="controls"><span class="input uneditable-input">{{ $parent.User.Profile.displayName }}</span><span ng-show="User.Profile.displayName == ''" class="help-inline">You need to choose a display name</span></div>
        </div>
        <div ng-class="{error: User.Profile.firstName == ''}" class="control-group">
          <label for="payment" class="control-label">First name</label>
          <div class="controls"><span class="input uneditable-input">{{$parent.User.Profile.firstName }}</span><span ng-show="User.Profile.firstName == ''" class="help-inline">Please fill inn your first name</span></div>
        </div>
        <div ng-class="{error: User.Profile.lastName == ''}" class="control-group">
          <label for="payment" class="control-label">Last name</label>
          <div class="controls"><span class="input uneditable-input">{{ $parent.User.Profile.lastName }}</span><span ng-show="User.Profile.lastName == ''" class="help-inline">Please fill inn your last name</span></div>
        </div>
        <div ng-class="{error: User.Profile.dateOfBirth == ''}" class="control-group">
          <label for="payment" class="control-label">Date of Birth / Age</label>
          <div class="controls">
            <div class="input-append"><span class="input uneditable-input">{{ $parent.User.Profile.dateOfBirth }}</span><span class="add-on">{{ User.Profile.dateOfBirth|age }} years old</span></div><span ng-show="User.Profile.dateOfBirth == ''" class="help-inline">We are required to record your date of birth for age verification</span>
          </div>
        </div>
        <div ng-class="{error: User.acceptedPolicy != true}" class="control-group">
          <label for="payment" class="control-label">Policy</label>
          <div class="controls"><i ng-class="{true: 'icon-ok text-success', false: 'icon-remove text-error'}[User.acceptedPolicy]"></i><span ng-show="User.acceptedPolicy == true" class="help-inline">I accept the policy</span><span ng-show="User.acceptedPolicy != true" class="help-inline">I do not accept the policy</span>
            <div><em ng-show="User.acceptedPolicy != true" class="help-block">In order to become a member you have to accept to the policy</em></div>
          </div>
        </div>
        <div ng-class="{error: User.Profile.address == ''}" class="control-group">
          <label for="payment" class="control-label">Address</label>
          <div class="controls"><span class="input uneditable-input">{{ $parent.User.Profile.address }}</span><span ng-show="User.Profile.address != ''" class="help-inline">Please input your address</span></div>
        </div>
        <div ng-show="User.Profile.alternativeAddress == ''" class="control-group">
          <label for="payment" class="control-label">Address 2</label>
          <div class="controls"><span class="input uneditable-input">{{ $parent.User.Profile.alternativeAddress }}</span></div>
        </div>
        <div ng-class="{error: User.Profile.postcode == ''}" class="control-group">
          <label for="payment" class="control-label">Postcode</label>
          <div class="controls"><span class="input uneditable-input">{{ $parent.User.Profile.postcode }}</span><span ng-show="User.Profile.postcode == ''" class="help-inline">Please input your postcode</span></div>
        </div>
        <div ng-class="{error: User.Profile.postplace == ''}" class="control-group">
          <label for="payment" class="control-label">Postplace</label>
          <div class="controls"><span class="input uneditable-input">{{ $parent.User.Profile.postplace }}</span><span ng-show="User.Profile.postplace == ''" class="help-inline">Please input your postplace</span></div>
        </div>
        <div class="control-group">
          <label for="payment" class="control-label">Payment</label>
          <div class="controls">{{ User.Profile.payment }}
            <div>{{ Payment.amount }}</div>
            <div>{{ Payment.fee }}</div>
            <div>{{ Payment.taxes }}</div>
          </div>
        </div>
      </form>
    </div>
    <button data-dismiss="modal" aria-hidden="true" class="btn">Cancel registration</button>
    <button ng-click="nextstep()" class="btn btn-primary">Next step</button>
  </div>
</div>