
<ul class="nav nav-tabs">
  <li ng-class="getClass('/tournament/dashboard')"><a ng-href="/#/tournament/dashboard/{{ tournament._id }}"><span>Dashboard</span></a></li>
  <li ng-class="getClass('/tournament/contestants')"><a ng-href="/#/tournament/contestants/{{ tournament._id }}"><span>Contestants</span></a></li>
  <li ng-class="getClass('/tournament/rules')"><a ng-href="/#/tournament/rules/{{ tournament._id }}"><span>Rules</span></a></li>
</ul>
<ul class="nav nav-pills">
  <li ng-class="getClass('/tournament/checkin')"><a ng-href="/#/tournament/stage/{{ tournament._id }}/1" tooltip-placement="bottom" tooltip="Check in is over!" class="alert alert-error text-error"><span>Stage 1: Check in</span></a></li>
  <li ng-class="getClass('/tournament/groups')" class="disabled"><a ng-href="/#/tournament/stage/{{ tournament._id }}/2" tooltip-placement="bottom" tooltip="We are currently in the group play!" class="alert text-warning"><span>Stage 2: Group play</span></a></li>
  <li ng-class="getClass('/tournament/playoffs')" class="disabled"><a ng-href="/#/tournament/playoffs/{{ tournament._id }}"><span>Stage 3: Play off</span></a></li>
</ul>